
/* Resset Básico */

* {
  padding: 0;
  margin:0;
  box-sizing: border-sizing;
}

body {
  padding: 48px;
  background-color: lightskyblue;
}

.container { 
  display: grid; 
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: repeat(3, 100px); 
  grid-template-areas: 
          "header header header"
   "main   main  sidebar"
  "footer  footer  footer";
                        

  width: 500px;
  height: 500px;
  margin: 0 auto; 
  background-color:blueviolet;
}

.header {
  background-color: lightseagreen;
  grid-area: header;
}

.main {
  background-color: orchid;
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color:lightgoldenrodyellow;
}

.footer {
  background-color: lightpink;
  grid-area: footer;
}