
/* Resset Básico */

* {
  padding: 0;
  margin:0;
  box-sizing: border-sizing;
}

body {
  padding: 48px;
  background-color: lightskyblue;
}

/* Container tenga una grilla de 5 columnas * 5 filas del mismo ancho y alto. */
.container { 
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(3, 1fr 2fr); 
  width: 500px;
  height: 500px;
  margin: 0 auto; 
  background-color:blueviolet;
}

.item {
  background-color: orchid;
  color: white;
} 