
/* Resset Básico */

* {
  padding: 0;
  margin:0;
  box-sizing: border-sizing;
}

body {
  padding: 48px;
  background-color: lightskyblue;
}

.container { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  gap: 24px; /* Define el espacio entre filas y columnas */
  /*row-gap: 50px; Espacio entre líneas  */
  /*column-gap: 10px; Espacio entre columnas */

  grid-auto-flow: row; /* Es el valor por Default */
  /*grid-auto-flow: column; Este valor cambia el flujo a columnas */

  /* Esto no es de grid */
  direction: rtl; /* Right to Left */
                        
  width: 500px;
  height: 500px;
  margin: 0 auto; 
  background-color:blueviolet;
}

.item-1 {
  background-color: lightcoral;
}

.item-2 {
  background-color: lightgreen;
}

.item-3 {
  background-color: yellow;
}

.item-4 {
  background-color: aqua;
}

.item-5 {
  background-color: violet;
}

.container div{
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
}

/* Coloquen 5 items con colores de fondo diferentes */